*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.app{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 50px;
	color: red;
	text-shadow: 0 0 10px black;
}
.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 300px;
	border: 1px solid black;
	padding: 25px;
	margin-top: 70px;
	box-shadow: 5px 5px 30px green;
	border-radius: 4px;
	text-align: center;
	background: #fff;
	border: 5px solid blue;
}

.card_img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

button{
	padding: 20px;
	margin: 100px auto;
	background: chocolate;
	border: none;
	font-size: 30px; 
	font-weight: 500px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.buton{
	padding: 20px;
	margin: 10px auto;
	background: chocolate;
	border: none;
	font-size: 30px; 
	font-weight: 500px;
	color: white;
	border-radius: 5px;
}

